.img {
  width: 100%;
  display: block;
  margin: auto;
}

.projectItem {
  position: relative;
  margin-bottom: 15rem;
}

.content {
  position: absolute;
  top: 5%;
  left:50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.mrSection {
  margin-top: 25px;
}

@media only screen and (max-width: 1023px) {
  .photoNone {
    display: none;
  }

  .photoOrder {
    order: 1
  }

  .contentOrder {
    order: 2
  }

  .projectItem {
    margin: 0px;
  }
  
}
@media only screen and (min-width: 1024px) and (max-width: 1190px) {
  .projectItem {
    margin-bottom: 120px;
  }
}

@media only screen and (min-width: 1191px)and (max-width: 1250px) {
  .projectItem {
    margin-bottom: 150px;
  }
}

  @media only screen and (min-width: 1251px)and (max-width: 1300px) {
    .projectItem {
      margin-bottom: 180px;
    }
}
.parentt{
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  padding: 0;
  position: relative;
  height: 60%;

}
.swiper {
  width: 100%;
  height: 60%;
}
.swiper-slide img {
  width: 50% ;
  object-fit: cover !important; 
}

.services_slider_img{
  object-fit: cover !important; 
  width: 100% !important;
  height: 500px !important;



}