

.Carousel img {
    width: 40%;
}

.iframe {
    border: none;
    width: 100%;
    height: 100%;
}
.header_maintenance {
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing:-1px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    outline: none;
    text-align: center;
  }

  .header_maintenance:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  


@media only screen and (max-width: 1024px) {

    .iframe_parent {
        height: 800px;
    }
  
}

.maintained_Button {
    display: flex;
    justify-content: flex-end;

}


.swiper-button-prev, .swiper-button-next {

    color:#eae0da !important;
  }
  
  
  .swiper-pagination-bullet-active {
    background:#bca37f !important;
 
}  

.Sall_boot{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


#boot_button {
    background-color: #0F3789;
    padding: 4px 14px;
    border-radius: 8px;
    outline: none;
    margin-top: 20px;
    
}


#boot_button #Link{
    color: #fff;
    text-decoration: none;
    }
