
.profile_left_content {
  display: flex;
 
}

.profile_left_content p {
  font-size: 1.1rem;
  background-color: #eae0da;
  color: #bca37f;

}

.user_photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #bca37f;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile_left_content_ele {
  display: flex;
  align-items: center;
  border-radius: 20px 20px;
  -webkit-border-radius: 20px 20px;
  -moz-border-radius: 20px 20px;
  -ms-border-radius: 20px 20px;
  -o-border-radius: 20px 20px;
}
.profile_left_content_ele_svg {
  padding: 1rem;
  background-color: #bca37f;
  border-radius: 20px 0 0 20px;
  font-size: 1rem;
  color: #fdfdfd;
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  -ms-border-radius: 20px 0 0 20px;
  -o-border-radius: 20px 0 0 20px;
}



@media screen and (max-width: 1045px) {
  .profile_container {
    gap: 20px;
    flex-wrap: wrap;
    height: 100vh;
    flex-direction: column;
  }
  .user_photo {
    width: 100px;
    height: 100px;
  }
  .profile_left_content p {
    font-size: 1rem;
    padding: 25px;
  }
  .profile_left_content_ele_svg {
    font-size: 1rem;
    padding: 25px;
  }
}

@media screen and (max-width: 824px) {
  .profile_left_content {
    gap: 0;
  }
  .profile_left_content_w_i {
    gap: 0;
  }
  .profile_container {
    flex-direction: row;
    gap: 0;
  }
  .profile_right_content {
    flex-direction: row;
    margin-top: 0;
  }
}

@media screen and (max-width: 586px) {
  .profile_left_content p {
    font-size: 0.7rem;
    padding: 12px;
  }
  .profile_left_content_ele_svg {
    font-size: 0.7rem;
    padding: 9px;
  }
  .profile_right_content p {
    font-size: 1rem;
  }
  .profile_right_content p .ele_svg {
    font-size: 1rem;
  }
  .profile_right_content {
    gap: 2px;
  }
  .profile_container {
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-left: 20px;
    gap: 20px;
  }
}
