
.item{
    grid-column: 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item2{
    grid-column: 1 / span 2;
    max-width: 100%;
}


.video {
    margin-top: 0px !important;
}
.Max_background {
    display: grid;
    place-items: center;
}

.Max_gallery {
    display: flex;
    margin-bottom: 10px;
    /* width: 80%; */
     /* left: calc(50% - 330px); */
}

.Max_card {
    position: relative;
    left: 0px;
    width: 210px;
    height: 226px;
    border-radius: 8px;
    transition: 1s ease-in-out;
    overflow: hidden;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
}

.Max_card:not(:first-child) {
    margin-left: -95px;
}

.Max_card:hover {
    transform: translateY(-16px);
    font-weight: bold;
    cursor: pointer;
}

.Max_card:hover ~ .Max_card {
    left: 85px;
}

.Max_card #max_photo {
    width: 100%;
    height: 220px;

    border-radius: 4px;
}

.kitchen{
    width: 550px;
    height: 450px;
}
.room {
    width: 550px;
    height: 450px;

}