.header {
    font-size: 300px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing:-1px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    outline: none;
    text-align: center;
  }

  .header:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }
  
