.error {
  color: #eae0da;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bca37f;
  border-radius: 25px;
  margin-left: 10px;
  padding: 0 20px;
  height: 96px;
}

.message {
  background-color: #bca37f;
}

@media screen and (max-width: 768px) {
  .changepass_container {
    padding: 20px;
    height: 97vh;
    min-width: 100%;
    padding-top: 140px;
  }

  .changepass_content div input {
    padding: 15px 30px;
    font-size: 1.2rem;
  }

  .changepass_content div div {
    font-size: 1.8rem;
    height: 57px;
    padding: 0 15px;
  }

  form {
    gap: 30px;
  }

  .submit_btn {
    font-size: 1.2rem;
  }

  .error {
    font-size: 1.2rem;
    height: 76px;
  }
}

@media screen and (min-width:320px) and (max-width:480px) {
  .form_btns {
    flex-direction: column !important;
    align-items: center;
  }

  .confirm_btn {
    margin: 1.5rem;
  }
}