.imgAbsoule {
  left      : 92%;
  top       : 14%;
  object-fit: contain;
}

.Continer {

  width                : 100%;
  height               : 100%;
  background-image     : linear-gradient(to bottom, rgba(94, 56, 56, 0.192), rgb(0, 0, 0)), url(../../assets/img/18.jpg);
  background-repeat    : no-repeat;
  background-attachment: scroll;
  background-position  : 100% 100%;
  background-size      : cover;
  z-index              : 0;
}

.BgContent {
  background-color: white;

}


@media screen and (max-width: 967px) {
  .imgAbsoule {
    display: none;
  }

  .BgContent {
    width        : 60% !important;
    padding: 0 1rem 3rem 1rem !important;
  

  }

  .BgContent p,
  .BgContent h2,
  .BgContent h3 {
    width     : 100% !important; 

  }


}