.bg__contact{
    background-image: url(./..//assets/img/12.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}.layer{
    background-image: url(./../assets/img/Rectangle.png);  
}
